/* Reset some default styles */
body, ul, li, a, p {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: black;
}

/* Set the background image for the page */
body {
    background-size: 100% auto; /* Scales the image to fit the width, height adjusts automatically */
    background-position: top center; /* Aligns the image to the top */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    min-height: 100vh; /* Ensures the body is at least the height of the viewport */
    font-family: "IBM Plex Sans Condensed", serif;
    font-weight: 300;
    font-style:normal;
    background-color: #f0f0f0; /* Fallback color if the image doesn't load */
}

/* Navigation bar styles */
nav {
    width: 100%;
    text-align: left;
    padding: 20px 0;
    background-color: transparent; /* No background */
    
}

nav ul {
    display: flex;
    justify-content: flex-start;
    padding-left: 20px;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    font-size: 22px;
    color: white;
    mix-blend-mode: difference;
}
.descr {
    font-size: 0.8rem;
    width: 30%;
    padding: 20px;
    margin-right: 20px;
    margin-top: 6%;
    position:absolute;
    left: 10%;
    overflow: scroll;
    max-height:18rem;
    background: rgba(256,256,256, .9)
}
/* Content styles */
.content {
    width: 30%;
    padding: 20px;
    margin-right: 20px;
    margin-top: 15%;
    position:relative;
    left: 60%;
    background: rgba(256,256,256, .6)

}

.content p {
    font-size: 0.8rem;
    line-height: 1.6;
    text-align: left;
    padding:2%;
    height: 18rem;
    overflow:scroll;
    
}
.content h3, h6 {
    position: relative;
    left:3%;
}
.video video {
    width: 55%;
    height:auto;
    position:absolute;
    left:43.1%;
    top:80%;
}
.video p{
    font-size: 0.8rem;
    line-height: 1.6;
    text-align: left;
    padding:2%;
    top:80%;
    left:3rem;
    max-height: 30%;
    width:30%;
    position: absolute;
    background: rgba(256,256,256, .6);
    overflow:scroll;
}

.video2 video {
    width: 55%;
    height:auto;
    position:relative;
    top:25rem;
    left:5%;
}
.video2 p{
    font-size: 0.8rem;
    width: 30%;
    padding: 20px;
    margin-left: 50%;
    position:relative;
    top:10rem;
    left: 12%;
    overflow: scroll;
    background: rgba(256,256,256, .9);
    max-height: 18rem;
}

.picr img{
    width: 60%;
    height: auto;
    position: absolute;
    left: 40%;
    top:55%;
    padding: 4%;
    opacity:0.6;
}

@media (min-width: 1080px) {
    .descr {
        font-size: 1rem;
        width: 20%;
        padding: 20px;
        margin-right: 20px;
        margin-top: 6%;
        position:absolute;
        left: 10%;
        overflow: scroll;
        max-height:22rem;
        background: rgba(256,256,256, .9)
    }
    .content {
        width: 30%;
        padding-bottom:60px;
        position:relative;
        left: 60%;
        bottom:50px;
        background: rgba(256,256,256, .6)
    }
    
    .content p {
        font-size: 1rem;
        text-align: left;
        padding:1%;
        
    }

    .content h3, h6 {
        position: relative;
        left:1.5%;
    }

    .video video {
        width: 55%;
        padding-bottom:10%;
        height:auto;
        position:absolute;
        left:43.1%;
        top:130%;
    }
    .video p{
        font-size: 1rem;
        text-align: left;
        padding:2%;
        top:130%;
        left:3rem;
        max-height: 24rem;
        width:30%;
        position: absolute;
        background: rgba(256,256,256, .6)
    }

    .video2 video {
        width: 55%;
        height:auto;
        position:relative;
        padding-top:15%;
        padding-bottom:5%;
        left:5%;
    }
    .video2 p{
        font-size: 1rem;
        width: 30%;
        padding: 20px;
        margin-left: 50%;
        position:absolute;
        top:78%;
        left: 16%;
        overflow: scroll;
        background: rgba(256,256,256, .9);
        height: 24rem;
        width:16rem;
    }

    .picr img{
        width: 60%;
        height: auto;
        position: absolute;
        left: 40%;
        top:55%;
        padding: 4%;
        opacity:0.6;
    }
}