/* Reset some default styles */
body, ul, li, a, p {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: black;
}

/* Set the background image for the page */
body {
    background-size: 100% auto; /* Scales the image to fit the width, height adjusts automatically */
    background-position: top center; /* Aligns the image to the top */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    min-height: 100vh; /* Ensures the body is at least the height of the viewport */
    font-family: "IBM Plex Sans Condensed", serif;
    font-weight: 300;
    font-style:normal;
    background-color: #f0f0f0; /* Fallback color if the image doesn't load */
}

/* Navigation bar styles */
nav {
    width: 100%;
    text-align: left;
    padding: 20px 0;
    background-color: transparent; /* No background */
    
}

nav ul {
    display: flex;
    justify-content: flex-start;
    padding-left: 20px;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    font-size: 22px;
    color: white;
    mix-blend-mode: difference;
}

/* Content styles */
.content {
    width: 30%;
    padding: 20px;
    margin-right: 20px;
    margin-top: 15%;
    position:relative;
    left: 65%;
    background: rgba(256,256,256, .3)

}

.content p {
    font-size: 0.8rem;
    line-height: 1.6;
    text-align: left;
    padding:2%;
    height: 18rem;
    overflow: scroll;
    
}

.ciklai {
    position:absolute;
    right:110%;
    bottom:25%;
}

.ciklai h6 {
    font-size:1.8rem;
    font-weight:200;
}
.ciklai h5{
    position:absolute;
    bottom:8%;
    left:4%;
    font-weight:200;
    font-size:0.7rem;
}

.video video {
    width: 55%;
    height:auto;
    position:absolute;
    left:43.1%;
    top:120%;
}
.video p{
    font-size: 0.8rem;
    line-height: 1.6;
    text-align: left;
    padding:2%;
    top:120%;
    left:3rem;
    max-height: 30%;
    width:30%;
    position: absolute;
    overflow: scroll;
    background: rgba(256,256,256, .3)
}
.picr img{
    width: 60%;
    height: auto;
    position: absolute;
    left: 40%;
    padding: 4%;
}


@media (min-width: 1080px) {
    .content {
        width: 30%;
        padding: 20px;
        margin-right: 20px;
        margin-top: 15%;
        position:relative;
        left: 63%;
        background: rgba(256,256,256, .3)

    }
    
    .content p {
        font-size: 1rem;
        line-height: 1.6;
        text-align: left;
        padding:3%;
        
    }

    .ciklai {
        position:absolute;
        right:110%;
        bottom:15%;
    }

    .ciklai h6 {
        font-size:2.5rem;
        font-weight:200;
    }

    .ciklai h5{
        position:absolute;
        bottom:15%;
        left:4%;
        font-weight:200;
    }
    .video video {
        width: 55%;
        padding-bottom:10%;
        height:auto;
        position:absolute;
        left:43.1%;
        top:130%;
    }
    .video p{
        font-size: 1rem;
        line-height: 1.6;
        text-align: left;
        padding:2%;
        top:130%;
        left:3rem;
        max-height: 24rem;
        width:30%;
        position: absolute;
        overflow: scroll;
        background: rgba(256,256,256, .3)
    }
    .picr img{
        width: 60%;
        height: auto;
        position: absolute;
        left: 40%;
        top:55%;
        padding: 4%;
        opacity:0.6;
    }
}